body{
    background-color: black;
    position: relative;
    font-family:RubikDoodleTriangles, Geneva, Tahoma, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
h3{
    font-family:'Sevillana', Times, serif
}
.container{
    width: 500px;
    height: 500px;
    color: bisque;
    font-size: 30px;
    font-weight: bolder;
    align-items: center;
    display: block;
    position: absolute;
    right: 45%;
}
input{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 4mm ridge rgba(211, 220, 50, .6);
}
.gametitle{
    width: 600px;
    margin-bottom: 15px;
}
button{
    border: thick double #b10ce8;
    width: 140px;
    height: 45px;
    background-color:white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}